body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

header, ul { 
    width: 90%; 
    max-width: 600px; 
}

ul { 
    list-style-type: none; 
    padding: 0; 
}

li { 
    padding: 15px; 
    border: 1px solid #ddd; 
    margin: 10px 0; 
}

button { 
    margin-top: 10px; 
}

.historico { 
    margin-top: 5px; 
    font-size: 0.9em; 
    color: #555; 
}